:root {
    --primary-100:#0D6E6E;
    --primary-200:#4a9d9c;
    --primary-300:#afffff;
    --accent-100:#FF3D3D;
    --accent-200:#ffe0c8;
    --text-100:#FFFFFF;
    --text-200:#e0e0e0;
    --bg-100:#0D1F2D;
    --bg-200:#1d2e3d;
    --bg-300:#354656; 
}

body {
    color: var(--text-200);
    background-color: var(--bg-100);
}

.navbar {
    background-color: var(--bg-200);
}

#locale-selector {
    max-width: 70px;
}